---
---

@import '{{ site.theme }}';
.post-container {
  width: 45%;
  margin: 0 auto;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post-list > .post {
  margin: 16px 0;
  h2 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 720px)
{
  .post-container {
    width: 96%;
  }
}
